<div class="row educacion">
    <h1>Educacion</h1>
    <div class="col-lg-1">
        <button type="button" class="btn btn-info" routerLink="/nuevaeducacion">
            Agregar Educación
        </button>
    </div>

    <div class="col lg 1">
    </div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td>
                        <h2>{{Educacion.nombreEd}}</h2>
                    </td>
                    <td>{{Educacion.descripcionEd}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-warning" routerLink="/editeducacion{{Educacion.id}}">
                            Editar
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                            Borrar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>