<div class="row proyectos">
    <h2 class="subtitulo">Proyectos</h2>

    <div class="card-group">
        <div class="card">
          <img src=".../../../../../assets/IMG/banner-ok-argentina-programa (1).jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Proyecto Argentina Programa</h5>
            <p class="card-text">Proyecto realizado en el marco del programa del Estado Nacional de formación en Full Stack Jr. Año 2023.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src=".../../../../../assets/IMG/ingresos-gastos.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Economia familiar</h5>
            <p class="card-text">App pensada para facilitar el registro de ingresos y gastos cotidianos.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src=".../../../../../assets/IMG/image36 (1).png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Registro público</h5>
            <p class="card-text">Sistema para registro y procesamiento de información pública.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
</div>


