<div class="acerca">
    <div class="row acerca">
        <div class="col-lg-1">
            <button type="button" class="btn btn-dark" routerLink="/editAcerca/{1}" *ngIf="isLogged">
                Editar
            </button>
        </div>
        <div class="col-4">
            <div>
                <img src={{persona.img}} alt="..." class="img-fluid">
            </div>
        </div>
        <div class="col-5">
            <span>
            <h3>{{title}}</h3>
            <br>
            <p>{{persona.descripcion}}</p>
            </span>
        </div>
        <div class="col-2"></div>
    </div>
</div>