<div class="container formularios" *ngIf="persona">
    <div class="row">
        <div class="formulario">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre"
                        [(ngModel)]="persona.nombre" #nombre="ngModel" required minlength="10">
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert">
                        <div *ngIf="nombre.errors?.['required']">
                            <p name="requerido">Nombre requerido</p>
                        </div>
                        <div *ngIf="nombre.errors?.['minlength']">
                            <p name="requerido">Extensión mínima: 10 caracteres</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group" id="apellido">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido"
                        [(ngModel)]="persona.apellido" #apellido="ngModel" min="2000-01-01" max="2023-12-31" required>
                    <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert">
                        <div *ngIf="apellido.errors?.['required']">
                            <p name="requerido">Ingresar apellido</p>
                        </div>
                    </div>
                </div>
                    <br>
                <div class="form-group" id="descripcion">
                        <label for="descripcion">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion"
                            [(ngModel)]="persona.descripcion" #descripcion="ngModel" min="2000-01-01" max="2023-12-31" required>
                        <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert">
                            <div *ngIf="descripcion.errors?.['required']">
                                <p name="requerido">Ingresar fecha</p>
                            </div>
                        </div>
                </div>
                    <br>
                <div class="form-group">
                        <label for="img">Imagen</label>
                        <input type="file" class="form-control" id="img" name="img" required
                            minlength="15" maxlength="500" [(ngModel)]="persona.img"
                            #img="ngModel" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                        <div *ngIf="img.invalid && (img.dirty ||img.touched)"
                            class="alert">
                            <div *ngIf="img.errors?.['required']">
                                <p name="requerido">Descripción requerida</p>
                            </div>
                            <div *ngIf="img.errors?.['minlength']">
                                <p name="requerido">Extensión mínima: 15 caracteres</p>
                            </div>
                            <div *ngIf="img.errors?.['maxlength']">
                                <p name="requerido">Extensión máxima: 500 caracteres</p>
                            </div>
                        </div>
                </div>
                <div class="image">
                    <img [src]="imageService.url" width="200px">
                </div>
                <br>
                    <button class="btn btn-info">
                        Editar
                    </button>
            </form>
        </div>
    </div>
</div>