p[name="requerido"] {
    color: rgba(236, 9, 9, 0.836);
}

.formulario {
    padding: 10%;
}

.form-control {
    display: block;
    width: 70%;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: var(--bs-body-color);
    background-color: var(--bs-form-control-bg);
}