<div class="container formularios" *ngIf="skill">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Habilidad</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre"
                        #nombreSkill="ngModel" required>
                    <div *ngIf="nombreSkill.invalid && (nombreSkill.dirty || nombreSkill.touched)" class="alert">
                        <div *ngIf="nombreSkill.errors?.['required']">
                            <p name="requerido">Nombre requerido</p>
                        </div>
                        <div *ngIf="nombreSkill.errors?.['minlength']">
                            <p name="requerido">Extensión mínima: 10 caracteres</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <label for="descripcionExp">Ingresar porcentaje</label>
                        <input type="text" class="form-control" id="porcentaje" name="porcentaje"
                            [(ngModel)]="skill.porcentaje" required>
                        <div *ngIf="nombreSkill.errors?.['minlength']">
                            <p name="requerido">Se debe introducir un porcentaje</p>
                        </div>
                </div>
                    <button class="btn btn-info">
                        Actualizar
                    </button>
            </form>
        </div>
    </div>
</div>