.row.hsskills {
    padding: 5%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #e6f3e6a3;
    margin-top: 1%;
}

.row.text-center.softskills {
    margin-top: 6%;
}

.row.text-center {
    margin-bottom: 6%;
}

#HySTitle {
    font-size: 3.5rem;
}

#hardskills {
    font-size: 2.5rem;
    border-bottom: 5px solid rgba(7,29,43,0.86);
}

#softskills {
    font-size: 2.5rem;
    border-bottom: 5px solid rgba(7,29,43,0.86);
}
